<div class="animated fadeIn">
  <div class="row">
    <div *ngFor="let item of photos" class="col-lg-4">
      <nz-card nzHoverable
               style="width:240px"
               class="mb-3"
               [nzCover]="coverTmp">
        <nz-card-meta [nzTitle]="item.title"
                      [nzDescription]="item.description">
        </nz-card-meta>
      </nz-card>
      <ng-template #coverTmp>
        <img alt="example" [src]="'assets/my-fotos/' + item.path"/>
      </ng-template>
    </div>
  </div>
</div>

<!--
<div class="row">
  <div *ngFor="let item of photos" class="col-lg-4">
    <div class="card" style="width: 18rem;">
      <img [src]="'assets/my-fotos/' + item.path" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">{{item.title}}</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Vestibulum at eros</li>
      </ul>
      <div class="card-body">
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div>
  </div>
</div> -->
